@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../assets/fonts/Gilroy-Regular.woff") format("woff"), url("../../assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nekst";
  font-display: swap;
  src: url("../../assets/fonts/Nekst-Black.woff") format("woff"), url("../../assets/fonts/Nekst-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}